{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1,minimum=scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="MisPerris Pagina Oficial de Adopcion de Perritos">
    <title>MisPerris</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
    <header>
        <div class="contenedor">
            <h1>MisPerris</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
            <nav class="menu">
                <a href="{% url 'index' %}">Inicio</a>
                <a href="/mascotas/">Mascotas</a>
                <a href="/registro/">Registro</a>
                {% if user.is_authenticated %}
                <a href="/logout/">Log Out</a>
                {% else %}
                <a href="/login/">Log In</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="#"> Usuario: {{ user.username }} </a>
                {% endif %}
                {% if user.is_authenticated and user.is_staff %}
                <a href="/admin/"> Administracion </a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
       
        <div id="contenedor-slider">
           
            <div id="slider">
                    
                <section>    
                    
                    <img src="{% static 'images/carru1.png' %}" alt="Carrusel 1">
                        
                </section>
                
                <section>                
                    
                    <img src="{% static 'images/carru2.png' %}" alt="Carrusel 2">
                    
                </section>
                
                <section>
                       
                    <img src="{% static 'images/carru3.png' %}" alt="Carrusel 3">
    
                <section>
                    
                    <img src="{% static 'images/carru4.png' %}" alt="Carrusel 4">
                    
                </section>
                
            </div>
                <div id="boton-anterior">&#60;</div>
                <div id="boton-siguiente">&#62;</div>
        </div>
        
       
            <section id="RegistroFormulario">
                {% block content %}
                {% endblock %}
            </section>
       
    </main>

    <footer>
        <div class="contenedor">
            <p class="copyright">MisPerris &copy; 2018</p>
            <div class="redesociales">
                <a class="icon-facebook" href="#"></a>
                <a class="icon-twitter" href="#"></a>
                <a class="icon-instagram" href="#"></a>
            </div>
        </div>
    </footer>
    
    <script src="{% static 'js/slider.js' %}"></script>
    
</body>    
</html>