{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Aqui van los Metadatos (Datos que no se muestran en Pantalla)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1,minimum=scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="MisPerris Pagina Oficial de Adopcion de Perritos">
    <title>Inicio | MisPerris</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!--- Vinculamos JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<!--- HEADER - HEADER - HEADER - HEADER - HEADER - HEADER -->
    <header>
        <div class="contenedor">
            <h1>MisPerris</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>

            <nav class="menu">
                <a href="index.html">Inicio</a>
            </nav>
        </div>
    </header>
<!--- MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN -->
    <main>
        <!--   CONTENEDOR BANNER/CARRUSEL -->
        <div id="contenedor-slider">
            <!--- SLIDER/ CARRUSEL -->
            <div id="slider">
                    
                <section>    
                    
                    <img src="{% static 'images/carru1.png' %}" alt="">
                        
                </section>
                
                <section>                
                    
                    <img src="{% static 'images/carru2.png' %}" alt="">
                    
                </section>
                
                <section>
                       
                    <img src="{% static 'images/carru3.png' %}" alt="">
    
                <section>
                    
                    <img src="{% static 'images/carru4.png' %}" alt="">
                    
                </section>
                
            </div>
                <div id="boton-anterior">&#60;</div>
                <div id="boton-siguiente">&#62;</div>
        </div>
        <!---   SECCION INTRODUCCION   -->
        <section id="Introduccion">
            <h2>CONOCENOS!</h2>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis odio at nunc consequat feugiat. Phasellus bibendum ligula quis enim elementum, nec tincidunt ex bibendum. Praesent a rhoncus nisl, nec porttitor libero. Aliquam eleifend at libero sit amet ultricies. Quisque odio nisi, aliquam vel aliquam non, fermentum vitae mi. Aenean interdum augue ac consequat vestibulum. Morbi in aliquet nulla, in finibus nisi. Proin faucibus sollicitudin ante, dictum lobortis leo. Maecenas elementum diam a sem venenatis, nec mattis dolor luctus.
            </p>
            
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis odio at nunc consequat feugiat. Phasellus bibendum ligula quis enim elementum, nec tincidunt ex bibendum. Praesent a rhoncus nisl, nec porttitor libero. Aliquam eleifend at libero sit amet ultricies. Quisque odio nisi, aliquam vel aliquam non, fermentum vitae mi. Aenean interdum augue ac consequat vestibulum. Morbi in aliquet nulla, in finibus nisi. Proin faucibus sollicitudin ante, dictum lobortis leo. Maecenas elementum diam a sem venenatis, nec mattis dolor luctus.
            </p>
        </section>
        <!---   SECCION ULTIMOS PERRITOS ADOPTADOS   -->
        <section id="perritos">
            <h2> Ultimos Perritos Adoptados</h2>
            <div class="contenedor">
                {% for mascotas in mascotapublicada %}
                <article>
                <h1><a href="">{{ mascotas.NombreMascota }}</a></h1>
                <img src="{{ mascotas.Imagen.url }}" height="200" width="200" border="1"/>
                <p>{{ mascotas.Descripcion|linebreaksbr }}</p>
                </article>
                {% endfor %}
            </div>
        </section>
    </main>
<!--- FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER -->
    <footer>
        <div class="contenedor">
            <p class="copyright">LovePerris &copy; 2018</p>
            <div class="redesociales">
                <a class="icon-facebook" href="#"></a>
                <a class="icon-twitter" href="#"></a>
                <a class="icon-instagram" href="#"></a>
            </div>
        </div>
    </footer>
    <!--- VINCULAMOS EL ARCHIVO JS AL FINAL -->
    <script src="{% static 'js/slider.js' %}"></script>
</body>    
</html>