{% extends 'adopcionperros/base_formulario.html' %}
{% block content %}
        <article>
            <form id="adoptarperris" method="POST">
            {% csrf_token %}
            <h2><a href="" style="text-decoration: none;">{{ mascotas }}</a></h2><br>
                <img src="{{ mascotas.Imagen.url }}"><br>
                <h2>Estado:</h2><br><h4>{{ mascotas.Estado }}</h4><br>
                <h2>Descripción:</h2><br><p>{{ mascotas.Descripcion|linebreaksbr }}</p><br>
            <h2>Raza:</h2><br><h4>{{ mascotas.RazaPredominante }}</h4><br>
            <h2>Fecha Publicado:</h2><br><h4>{{ mascotas.FechaPublicado }}</h4><br>
            {% if user.is_authenticated %}
            <button class="adoptar" type="submit">ADOPTAME</button>
            {% endif %}
            </form>
        </article>
{% endblock %}